{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .dropdown-menu.wider {
        min-width: 400%;
    }

    #diet-restrictions-container{
        max-width: 300%;
        white-space: normal;
        position:absolute;
        background-color: #f8f9fe;
    }

    .card {
        border-radius: 10px;
    }

    .card-header {
        border-bottom: none;
    }

    .card-body {
        padding: 2.5rem;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .input-group-text {
        background-color: transparent;
        border-color: transparent;
        color: #8898aa;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        color: #8898aa;
        background-color: #fff;
        border: 1px solid #e9eff7;
        border-radius: 0.375rem;
        height: 2.5rem;
        padding: 0.625rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        box-shadow: none;
    }

    .dropdown-toggle {
        border-radius: 0.375rem;
        height: 2.5rem;
        padding: 0.625rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.5;
    }

    .badge {
        padding: 0.375rem 0.625rem;
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1;
    }

    .badge:hover {
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(247, 250, 252, 0.5);
    }

    #selected-diet-restrictions-container {
        margin-top: 0.5rem;
    }

    #customCheckRegister {
        margin-top: 0.25rem;
    }

    .btn-primary {
        background-color: #5e72e4;
        border-color: #5e72e4;
    }

    .btn-primary:hover {
        background-color: #324cdd;
        border-color: #324cdd;
    }

    .text-muted {
        color: #8898aa;
    }

    .text-error {
        color: #f5365c;
        font-size: 0.75rem;
        margin-top: 0.25rem;
    }

    .text-light {
        color: #f8f9fe;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-4">
                            <h2>Sign Up</h2>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            {% if msg %}
                                <small>{{ msg | safe }}</small>
                            {% else %}
                                <h5>Add your credentials</h5>
                            {% endif %}
                        </div>

                        {% if not success %}
                            <form method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        {{ form.username }}
                                    </div>
                                    <span class="text-error">{{ form.username.errors }}</span>
                                </div>

                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        {{ form.email }}
                                    </div>
                                    <span class="text-error">{{ form.email.errors }}</span>
                                </div>

                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form.password1 }}
                                    </div>
                                    <span class="text-error">{{ form.password1.errors }}</span>
                                </div>

                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form.password2 }}
                                    </div>
                                    <span class="text-error">{{ form.password2.errors }}</span>
                                </div>

                                <!-- Dietary restriction field -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-check-bold"></i></span>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle w-200" type="button" id="diet-restriction-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select dietary restrictions
                                            </button>
                                            <div class="dropdown-menu wider" aria-labelledby="diet-restriction-dropdown">
                                                <div id="diet-restrictions-container" class="dropdown-item">
                                                    <div class="input-group input-group-alternative input-group-merge mb-2">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                                        </div>
                                                        <input class="form-control form-control-sm" id="restrictions-search" placeholder="Search for a restriction.." type="text" id="search_bar" style="padding-left: 1.5em">
                                                    </div>

                                                    {% for restriction in diet_restrictions %}
                                                        <span class="badge badge-primary diet-restriction-option m-1">{{ restriction }}</span>
                                                    {% endfor %}
												<p class="d-none" id="no-results-message">No restrictions found!😔</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="diet-restrictions-input" name="diet_restrictions">
                                    <div id="selected-diet-restrictions-container"></div>
                                </div>

                                <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                            <label class="custom-control-label" for="customCheckRegister">
                                                <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4">Create account</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-3"></div>
            <div class="col-3">
                <a href="{% url 'login' %}" class="text-light"><small>Login</small></a>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var maxDietRestrictions = 5; // Maximum number of diet restrictions
            var selectedDietRestrictions = [];

            $('.diet-restriction-option').click(function(e) {
                e.preventDefault();
                var restriction = $(this).text().trim();
                if (selectedDietRestrictions.indexOf(restriction) === -1) {
                    if (selectedDietRestrictions.length < maxDietRestrictions) {
                        selectedDietRestrictions.push(restriction);
                        var pill = $('<span class="badge badge-primary mr-1">' + restriction + '</span>');
                        $('#selected-diet-restrictions-container').append(pill);
                        updateDietRestrictionsInput();
                    } else {
                        alert('You can select a maximum of ' + maxDietRestrictions + ' restrictions.');
                    }
                } else {
                    alert('This restriction is already selected.');
                }
            });

            $('#selected-diet-restrictions-container').on('click', '.badge', function() {
                var restriction = $(this).text().trim();
                var index = selectedDietRestrictions.indexOf(restriction);
                if (index !== -1) {
                    selectedDietRestrictions.splice(index, 1);
                    $(this).remove();
                    updateDietRestrictionsInput();
                }
            });

            function updateDietRestrictionsInput() {
                $('#diet-restrictions-input').val(selectedDietRestrictions.join(','));
            }

            $('#restrictions-search').on('input', function() {
                var input = $(this).val().toLowerCase();
                var noResultsMessage = $('#no-results-message');
                var hasMatch = false;

                // Iterate over each diet restriction span
                $('#diet-restrictions-container span.diet-restriction-option').each(function() {
                    var restriction = $(this).text().toLowerCase();
                    
                    // Check if the restriction matches the input
                    if (restriction.includes(input)) {
                            $(this).show();
                            hasMatch = true;  
                    } else {
                            $(this).hide();  
                    }
                });

                if (hasMatch) {
                noResultsMessage.addClass('d-none');
                } else {
                    noResultsMessage.removeClass('d-none');
                }
            });
        });
    </script>
{% endblock javascripts %}
