{% extends 'layouts/base.html' %}
{% block title %} Profile {% endblock title %}
{% block stylesheets %}
<style>
   .badge {
   padding: 0.375rem 0.625rem;
   font-size: 0.75rem;
   font-weight: 600;
   line-height: 1;
   }
   .badge:hover {
   cursor: pointer;
   box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(247, 250, 252, 0.5);
   }
   .dropdown-menu.wider {
   min-width: 400%;
   }
   #diet-restrictions-container{
   max-width: 300%;
   white-space: normal;
   position:absolute;
   background-color: #f8f9fe;
   }
   .modal-body > video {
   max-width: 100%;
   }
</style>
{% endblock stylesheets %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(/static/assets/img/theme/makan.gif); background-size: cover; background-position: center top;">
   <!-- Mask -->
   <span class="mask bg-gradient-default opacity-8"></span>
   <!-- Header container -->
   <div class="container-fluid d-flex align-items-center">
      <div class="row">
         <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">
               Welcome, {{ request.user.username }} !
            </h1>
            <p class="text-white mt-0 mb-5">Let's End World Hunger Together, Give Your Food A Second Chance! Track Your Reviews Below </p>
         </div>
      </div>
   </div>
</div>
<div class="row justify-content-between">
   <div class="col-7">
      <!-- Page content -->
      <div class="container-fluid mt--6">
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <div class="row align-items-center">
                        <div class="col-12">
                           <h3 class="mb-0">Edit profile</h3>
                        </div>
                     </div>
                  </div>
                  <div class="card-body">
                     <form method="post" action="{% url 'update_profile' %}">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                           <div class="row">
                              <div class="col-lg-6">
                                 <div class="form-group">
                                    <label class="form-control-label" for="input-username">Username</label>
                                    <input type="text" id="input-username" name="username" class="form-control" placeholder="Username" value="{{ request.user.username }}">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email address</label>
                                    <input type="email" id="input-email" name="email" class="form-control" placeholder="Email" value="{{ request.user.email }}">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="text-right">
                           <button type="submit" class="btn btn-danger my-4" name="delete_account" value="1">Delete Account</button>
                           <button type="submit" class="btn btn-primary my-4" name="save_changes" value="1">Save changes</button>
                        </div>
                     </form>
                     <!-- Dietary restriction field -->
                     <h6 class="heading-small text-muted mb-4">Your Restrictions</h6>
                     <div class="pl-lg-4">
                        <form method="post" action="{% url 'update_restriction' %}">
                           {% csrf_token %}
                           <div class="form-group">
                              <div class="input-group">
                                 <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle w-200 mb-3" type="button" id="diet-restriction-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select dietary restrictions
                                    </button>
                                    <div class="dropdown-menu wider" aria-labelledby="diet-restriction-dropdown">
                                       <div class='dropdown-item' id="diet-restrictions-container">
                                          <div class="input-group input-group-alternative input-group-merge mb-2">
                                             <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                                             </div>
                                             <input class="form-control form-control-sm" id="restrictions-search" placeholder="Search for a restriction.." type="text" id="search_bar" style="padding-left: 1.5em">
                                          </div>
                                          {% for restriction in diet_restrictions %}
                                          <span class="badge badge-primary diet-restriction-option m-1" data-restriction="{{ restriction }}">{{ restriction }}</span>
                                          {% endfor %}
                                          <p class="d-none" id="no-results-message">No restrictions found!😔</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <input type="hidden" id="diet-restrictions-input" name="diet_restrictions" value="">
                              <div id="selected-diet-restrictions-container">
                                 {% for restriction in selected_diet_restrictions %}
                                 <span class="badge badge-pill badge-primary user-diet-restriction" data-restriction="{{ restriction }}">{{ restriction }}</span>
                                 {% endfor %}
                              </div>
                           </div>
                           <div class="text-right">
                              <button type="submit" class="btn btn-primary">Save Changes</button>
                           </div>
                        </form>
                     </div>
                     <br>
                     <!-- Your Reviews -->
                     <h6 class="heading-small text-muted mb-4">Your Reviews</h6>
                     <div class="pl-lg-4">
                        {% if reviews %}
                        {% for review in reviews %}
                        <div class="card mb-3">
                           <div class="card-body">
                              <form method="post" action="{% url 'update_review' review.ReviewID %}">
                                 {% csrf_token %}
                                 <div class="form-group">
                                    <h1>{{ review.RecipeName }}</h1>
                                 </div>
                                 <div class="form-group">
                                    <label for="rating">Ratings:</label>
                                    <select class="form-control" id="rating" name="rating" required>
                                       <option value="" disabled selected>{{review.Rating}}</option>
                                       <option value="1" {% if review.Rating == 1 %}selected{% endif %}>1</option>
                                       <option value="2" {% if review.Rating == 2 %}selected{% endif %}>2</option>
                                       <option value="3" {% if review.Rating == 3 %}selected{% endif %}>3</option>
                                       <option value="4" {% if review.Rating == 4 %}selected{% endif %}>4</option>
                                       <option value="5" {% if review.Rating == 5 %}selected{% endif %}>5</option>
                                    </select>
                                 </div>
                                 <div class="form-group">
                                    <label for="text">Review:</label>
                                    <textarea class="form-control" id="text" name="text" rows="3" required>{{ review.Text }}</textarea>
                                 </div>
                                 <div class="d-flex justify-content-between">
                                    <p class="card-review-id"><em>Review ID: {{ review.ReviewID }}</em></p>
                                    <div>
                                       {% if review.FileData %}
                                       <button id="view-file-{{ review.ReviewID }}" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#{{ review.ReviewID }}">
                                       See {{ review.FileData.content_type|capfirst }}
                                       </button>
                                       <div class="modal fade file-modal" id="{{ review.ReviewID }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered">
                                             <div class="modal-content">
                                                <div class="modal-body">
                                                   {% if review.FileData.content_type == 'image' %}
                                                   <img class="img-fluid" id="file-content-{{ review.ReviewID }}" />
                                                   {% else %}
                                                   <video controls>
                                                      <source id="file-content-{{ review.ReviewID }}"/>
                                                   </video>
                                                   {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                   <button type="button" class="btn btn-danger" onclick="remove_image('{{ review.ReviewID }}')" data-bs-dismiss="modal">Remove and Save</button>
                                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       {% endif %}
                                       <button class="btn btn-primary">Save Changes</button>
                                       <a href="{% url 'delete_review' review.ReviewID %}" class="btn btn-danger">Delete</a>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>No reviews found.</p>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-5">
      <!-- Nutrition content -->
      <div class="container-fluid mt--6">
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <div class="row align-items-center">
                        <div class="col-12">
                           <h3 class="mb-0">Nutrition Calculator</h3>
                        </div>
                     </div>
                  </div>
                  <div class="card-body">
                     <form>
                        <h6 class="heading-small text-muted mb-4">Track Your Nutrition</h6>
                        <div class="pl-lg-4">
                           <div class="row">
                              <div class="form-group">
                                 {% for user_recipe in user_recipes %}
                                 <div class="mb-4">
                                    <h2>{{ user_recipe.RecipeName }}</h2>
                                    {% for nutrition_fact in nutrition_facts %}
                                    {% if nutrition_fact.RecipeID == user_recipe.RecipeID %}
                                    <p class="mb-1"><strong>Calories per Serving:</strong> {{ nutrition_fact.CaloriesPerServing }} kcal</p>
                                    <p class="mb-1"><strong>Protein per Serving:</strong> {{ nutrition_fact.ProteinPerServing }} g</p>
                                    <p class="mb-1"><strong>Carbohydrates per Serving:</strong> {{ nutrition_fact.CarbohydratesPerServing }} g</p>
                                    <p class="mb-1"><strong>Fat per Serving:</strong> {{ nutrition_fact.FatPerServing }} g</p>
                                    {% endif %}
                                    {% endfor %}
                                 </div>
                                 {% endfor %}
                                 <hr>
                                 <div class="mb-4">
                                    <p><strong>Recommended Calories:</strong> {{daily_calories_limit }} kcal</p>
                                 </div>
                                 <div class="mb-4">
                                    <p><strong>Total Calories for Today:</strong> {{ total_calories }} kcal</p>
                                 </div>
                                 <div class="mb-4">
                                    <p><strong>Remaining Calories:</strong> <span id="remaining-calories">{{ remaining_calories }}</span> kcal</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <div class="row align-items-center">
                        <div class="col-8">
                           <h3 class="mb-0">Recommended Recipes Based on Available Calories</h3>
                        </div>
                     </div>
                  </div>
                  <div class="card-body">
                     <form>
                        <div class="mb-4">
                           {% if recommended_recipes %}
                           {% for recipe in recommended_recipes %}
                           <div class="d-inline-block mr-3">
                              <h4>{{ recipe.RecipeName }}</h4>
                              <p><strong>Calories:</strong> {{ recipe.Calories }} kcal</p>
                              <a href="{% url 'view_recipe' id=recipe.RecipeID %}" class="btn btn-primary d-inline-block">View Recipe</a>
                           </div>
                           <hr>
                           {% endfor %}                           
                           {% else %}
                           <p>Sorry, you've exceeded your calorie limit for today! See you tomorrow!</p>
                           {% endif %}
                        </div>
                  </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% include "includes/footer.html" %}
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   // Load all images and videos after document is loaded
     $(document).ready(function() {
   	var review_ids = []; // Array to store the IDs
   
   	$('.file-modal').each(function() {
   		var reviewId = $(this).attr('id'); // Get the ID of each element representing review IDs
   		review_ids.push(reviewId);         // Append the ID to the array
   	});
   
   	// AJAX call
   	$.ajax({
         url: "{% url 'get_file_data' %}",
         type: "POST",
         data: {
           csrfmiddlewaretoken: "{{ csrf_token }}",
   			 review_ids: review_ids
         },
         dataType: "json",
         success: function (data) {
     			
   			// Iterate key and values of data
   			$.each(data, function(key, filedata) {
   				if ($('#file-content-' + key).is('img')) {
   					// Add image source
   					$('#file-content-' + key).attr('src', 'data:' + filedata['mime_type'] + ';base64, ' + filedata['file']);
   				} else {
   					// Add video source
   					$('#file-content-' + key).attr('src', 'data:' + filedata['mime_type'] + ';base64, ' + filedata['file']);
   					$('#file-content-' + key).attr('type', filedata['mime_type']);
   
   					// Load the video
   					$('#file-content-' + key).parent().get(0).load();
   				}
   			});
         },
         error: function () {
           // For debugging
           console.log("Error getting file data!");
         },
       });
     });
   
     function remove_image(reviewid) {
       $("#" + reviewid).modal("hide");
       $("#" + reviewid).remove();
       // AJAX call
       $.ajax({
         url: "{% url 'remove_image' review_id=0 %}".replace("0", reviewid),
         type: "POST",
         data: {
           csrfmiddlewaretoken: "{{ csrf_token }}",
         },
         dataType: "json",
         success: function (data) {
     // Remove the view image/video button
           $("#view-file-" + reviewid).remove();
         },
         error: function () {
           // For debugging
           console.log("Error updating database!");
         },
       });
     }
     
     $(document).ready(function () {
       var selectedDietRestrictions = [];
     
       // Function to update the hidden input field
      function updateDietRestrictionsInput() {
        var selectedRestrictions = selectedDietRestrictions.join(",");
        $("#diet-restrictions-input").val(selectedRestrictions);
    }
     // Click event for adding diet restrictions
     $(".diet-restriction-option").click(function (e) {
        e.preventDefault();
        var restriction = $(this).data("restriction");
        if (selectedDietRestrictions.indexOf(restriction) === -1) {
            selectedDietRestrictions.push(restriction);
            var pill = $(
                '<span class="badge badge-pill badge-primary user-diet-restriction" data-restriction="' +
                restriction +
                '">' +
                restriction +
                "</span>"
            );
            $("#selected-diet-restrictions-container").append(pill);
            updateDietRestrictionsInput();
        } else {
            alert("This restriction is already selected.");
        }
    });
   
     // Click event for removing diet restrictions
     $("#selected-diet-restrictions-container").on(
        "click",
        ".user-diet-restriction",
        function () {
           var restriction = $(this).data("restriction");
           var index = selectedDietRestrictions.indexOf(restriction);
           if (index !== -1) {
              selectedDietRestrictions.splice(index, 1);
              $(this).remove();
              updateDietRestrictionsInput();
           }
        }
     );
   
     // Initialize the selected diet restrictions array with the existing pills
     $(".user-diet-restriction").each(function () {
        selectedDietRestrictions.push($(this).data("restriction"));
     });
     //search
     $('#restrictions-search').on('input', function() {
        var input = $(this).val().toLowerCase();
          var noResultsMessage = $('#no-results-message');
          var hasMatch = false;
   
         // Iterate over each diet restriction span
       $('#diet-restrictions-container span.diet-restriction-option').each(function() {
             var restriction = $(this).text().toLowerCase();
   
             // Check if the restriction matches the input
             if (restriction.includes(input)) {
                   $(this).show();
                   hasMatch = true;  
             } else {
                   $(this).hide();  
             }
          });
          if (hasMatch) {
            noResultsMessage.addClass('d-none');
          } else {
             noResultsMessage.removeClass('d-none');
          }
     });
      $(document).ready(function () {
         var remainingCalories = parseFloat($("#remaining-calories").text());
   
         if (remainingCalories >= 0) {
            $("#remaining-calories").text(remainingCalories + " kcal");
         } else {
            $("#remaining-calories").text("Exceeded by " + Math.abs(remainingCalories) + " kcal");
         }
   });
     });
</script>
{% endblock javascripts %}