{% extends 'layouts/base.html' %}

{% block title %} Recipe Search {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<style>
  .custom-gradient {
    background: linear-gradient(135deg, #FF7F50 0%, #FF4E50 100%);
  }
  .card-img-top {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
    .badge:hover {
        cursor: default;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header custom-gradient pb-8 pt-5">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <!-- Recipe count -->
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <p class="card-title text-muted mb-0">Recipes</p>
                      <span class="h2 font-weight-bold mb-0" id="recipe_count">{{ results.recipe_count|default:0 }}</span>
                    </div>
                    <div class="col-auto align-middle">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-hamburger"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cuisine count -->
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <p class="card-title text-muted mb-0">Cuisines</p>
                      <span class="h2 font-weight-bold mb-0" id="cuisine_count">{{ results.cuisine_count|default:0 }}</span>
                    </div>
                    <div class="col-auto align-middle">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-utensils"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Reviews count -->
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <p class="card-title text-muted mb-0">Reviews</p>
                      <span class="h2 font-weight-bold mb-0" id="review_count">{{ results.review_count|default:0 }}</span>
                    </div>
                    <div class="col-auto align-middle">
                      <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                        <i class="fas fa-comments"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Average review rating -->
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <p class="card-title text-muted mb-0">Average Rating</p>
                      <span class="h2 font-weight-bold mb-0" id="review_score">{{ results.review_score|default:0 }}</span>
                    </div>
                    <div class="col-auto align-middle">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Search and Filters -->
    <div class="container-fluid mt--7">
      <!-- Search -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <!-- Search Bar -->
              <div class="d-flex">
                <h4 class="mb-4 me-auto">What ingredients do you have? 🤔</h4>
                <div class="form-check form-switch">
                  <input class="form-check-input align-middle" type="checkbox" role="switch" id="strict_mode" onclick="get_search('search');" {% if strict_mode|default:0 == 1 %}checked{% else %}{% endif %}>
                  <label class="form-check-label align-middle mb-3 font-italic" for="strict_mode">Find exact matches?</label>
                  <button type="button" class="btn btn-sm btn-outline-success mb-2 ml-2" onclick="reset_filters()">Clear Search</button>
                </div>
              </div>
              <div class="input-group input-group-alternative input-group-merge">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Enter each ingredient you have here.." type="text" id="search_bar" style="padding-left: 1.5em">
              </div>

              <!-- User Inputs -->
              <div class="input-group mt-4" id="user_inputs">
                {% for ingredient in searches %}
                  <button class="btn btn-sm btn-outline-success alert rounded-pill fade show px-2 py-1 mx-1" type="button" data-dismiss="alert" onclick="remove_ingredient(this)">{{ ingredient }}  <i class="fas fa-times"></i></button>
                {% endfor %}
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
      <!-- Filters -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <div class='d-flex'>
                <h4 class="mb-3 me-auto">Do you have... </h4>
                <button type="button" class="btn btn-sm btn-outline-success mb-2 ml-2" onclick="refresh_suggested_ingredients()">Refresh Recommendations</button>
              </div>
              <div class="input-group" id="suggested_ingredients">
                {% for ingredient in suggested_ingredients %}
                  <button class="btn btn-sm btn-outline-danger alert rounded-pill fade show px-2 py-1 mx-1" type="button" data-dismiss="alert" onclick="add_suggested_ingredient(this)">{{ ingredient }}  <i class="fas fa-plus"></i></button>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Dietary Restrictions -->
      <div class="accordion card shadow" id="dietary_restrictions_accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#restrictions">
              <h5 class="mt-2">🙅🏻 Any dietary restrictions?</h5>
            </button>
          </h2>
          <div id="restrictions" class="accordion-collapse collapse" data-bs-parent="#dietary_restrictions_accordion">
            <div class="accordion-body" id="dietary_restrictions">
              <div class="input-group" id="active_restrictions">
                {% for restriction in dietary_restrictions.active %}
                  <button class="btn btn-sm btn-outline-warning alert rounded-pill fade show px-2 py-1 mx-1" type="button" data-dismiss="alert" onclick="remove_restriction(this)" value="{{restriction.RestrictionID}}">{{ restriction.Name }}  <i class="fas fa-times"></i></button>
                {% endfor %}
              </div>
              <div class="input-group" id="inactive_restrictions">
                {% for restriction in dietary_restrictions.inactive %}
                  <button class="btn btn-sm btn-outline-primary alert rounded-pill fade show px-2 py-1 mx-1" type="button" data-dismiss="alert" onclick="add_restriction(this)" value="{{restriction.RestrictionID}}">{{ restriction.Name }}  <i class="fas fa-plus"></i></button>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>

    <!-- Results -->
    <div class="container-fluid">
      <h4 class="mb-2">You can make <span id="recipe_count_display">{{results.recipe_count|default:0}}</span> recipes!</h4>
      <!-- Pagination -->
      <div class="d-flex mb-3" id="pagination">
        <h6 class="text-secondary font-italic me-auto align-middle">Viewing page <span id="current_page">{{ results.current_page }}</span> of <span id="page_count">{{ results.page_count }}</span></h6>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-sm btn-success {% if results.current_page == 1 or results.page_count == 0%}disabled{% endif %}" id="btn_prev_page">Previous</button>
          <button type="button" class="btn btn-sm btn-success {% if results.current_page == results.page_count or results.page_count == 0%}disabled{% endif %}" id="btn_next_page">Next</button>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-success dropdown-toggle {% if results.page_count == 0%}disabled{% endif %}" data-bs-toggle="dropdown" id="btn_select_page">Select Page</button>
            <ul class="dropdown-menu" style="max-height: 200px;overflow-y: auto;" id="page_selection">
              {% for i in results.pages %}
              <li><a class="dropdown-item {% if results.current_page == i%}active{% endif %}" value="{{ i }}">{{ i }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Recipes -->
      <div id="recipes">
        {% for recipe in recipes %}
          {% if forloop.counter0|divisibleby:4 %}
          <div class="row row-cols-1 row-cols-md-4 g-4">
          {% endif %}
          
          <div class="col mb-4">
              <div class="card h-100">
                    <img src="{{ recipe.Image }}" class="card-img-top" alt="Recipe Image">
                    <div class="card-header d-flex pt-3 bg-light">
                      <h5 class="card-title text-center align-middle">{{ recipe.Name }}</h5>
                    </div>
                    <div class="card-body pt-2">
                        <span style="background-color: #FF7766;" class="badge mb-2">{{ recipe.Cuisine }}</span>
                        <span style="background-color: #FF7766;" class="badge mb-2">{{ recipe.MealType }}</span>
                        <p>{{ recipe.Description|truncatechars:100 }}..</p>             
                    </div>
                    <a href="{% url 'view_recipe' id=recipe.RecipeID %}" class="btn btn-block btn-primary b-0" style="transform: none;">View Recipe</a>
              </div>
          </div>
          {% if forloop.counter|divisibleby:4 or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    
    {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
  // Function to set loading screen
  function set_loading_screen() {
    // Get previous value
    var old_recipes = $("#recipes").html();
    // Set loading screen
    $("#recipes").html("<div class='d-flex justify-content-center container-fluid mt-10'><div class='spinner-grow text-primary mr-4' role='status' style='width: 5rem; height: 5rem;'></div><div class='spinner-grow text-success mr-4' role='status' style='width: 5rem; height: 5rem;'></div><div class='spinner-grow text-danger mr-4' role='status' style='width: 5rem; height: 5rem;'></div><div class='spinner-grow text-warning mr-4' role='status' style='width: 5rem; height: 5rem;'></div><div class='spinner-grow text-info mr-4' role='status' style='width: 5rem; height: 5rem;'></div></div>");
    // Return previous value
    return old_recipes;
  }

  // Function to reset recipes
  function reset_recipes(old_recipes) {
    $("#recipes").html(old_recipes);
  }

  // Function to perform simple string cleaning
  function clean_string(string) {
    const map = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#x27;',
        "/": '&#x2F;',
    };
    const reg = /[&<>"'/]/ig;
    return string.replace(reg, (match)=>(map[match]));
  }

  // Function to send a search request
  function get_search(request_type, search_term=null, next_page=1) {
    // Prepare search terms
    var list_search_terms = []; 
    $('#user_inputs').children('button').each(function() {
      list_search_terms.push($(this).text().trim());
    });
    var list_restrictions = []; 
    $('#active_restrictions').children('button').each(function() {
      list_restrictions.push($(this).val().trim());
    });
    // Check if a search term is received
    if(search_term) {
      // Check if ingredient is already in list of searches
      if(!list_search_terms.includes(search_term)) {
        // Add to list of search terms
        list_search_terms.push(search_term);
        // Add to list of ingredients
        var new_ingredient = "<button class='btn btn-sm btn-outline-success alert rounded-pill fade show px-2 py-1 mx-1' type='button' data-dismiss='alert' onclick='remove_ingredient(this)''>" + clean_string(search_term) + "  <i class='fas fa-times'></i></button>";
        $('#user_inputs').append(new_ingredient);
      }

      // Clear search bar
      $('#search_bar').val('');
    }
    // Get search mode
    var strict_mode = $('#strict_mode').is(':checked') ? 1 : 0;

    // Show loading screen
    var old_recipes = set_loading_screen();

    // AJAX call to process search request
    $.ajax({ 
        url: "{% url 'process_search' %}",
        type: "POST",
        data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "type": request_type,
                "search": JSON.stringify(list_search_terms),
                "page": next_page,
                "strict_mode": strict_mode,
                "restrictions": JSON.stringify(list_restrictions)
            },
        dataType: 'json',
        success: function (data) {
          // For debugging
          console.log("Request type: " + request_type);
          console.log(data);

          // Update results
          $('#recipe_count').text(data.results.recipe_count);
          $('#recipe_count_display').text(data.results.recipe_count);
          $('#cuisine_count').text(data.results.cuisine_count);
          $('#review_count').text(data.results.review_count);
          $('#review_score').text(data.results.review_score);
          $('#page_count').text(data.results.page_count);
          $('#current_page').text(data.results.current_page);

          // Update pagination
          $('#page_selection').html('');
          var pages = "";
          for(var i = 0; i < data.results.page_count; i++) {
            var current_page = i + 1;
            pages += "<li><a class='dropdown-item" ;
            pages += (current_page == data.results.current_page) ? " active' value='" : "' value='";
            pages += current_page + "'>" + current_page + "</a></li>"
          }
          $('#page_selection').append(pages);
          var next_page_classes = $('#btn_next_page').attr('class').replace('disabled', '');
          var prev_page_classes = $('#btn_prev_page').attr('class').replace('disabled', '');
          var page_selection = $('#btn_select_page').attr('class').replace('disabled', '');
          prev_page_classes += (data.results.current_page == 1 || data.results.page_count == 0) ? "disabled" : "";
          next_page_classes += (data.results.current_page == data.results.page_count || data.results.page_count == 0) ? " disabled" : "";
          page_selection += (data.results.page_count == 0) ? "disabled" : "";
          $('#btn_next_page').attr('class', next_page_classes);
          $('#btn_prev_page').attr('class', prev_page_classes);
          $('#btn_select_page').attr('class', page_selection);

          // Update recipes
          $('#recipes').html('');
          var recipes = "";
          var counter = 0;
          for(let i in data.recipes) {
            if(i % 4 == 0) {
              recipes += "<div class='row row-cols-1 row-cols-md-4 g-4'>";
              counter = 0;
            }
            recipes += "<div class='col mb-4'><div class='card h-100'><img src='" + data.recipes[i].Image + "' class='card-img-top' alt='Recipe Image'>"
            recipes += "<div class='card-header d-flex pt-3 bg-light'><h5 class='card-title text-center align-middle'>" + data.recipes[i].Name + "</h5></div>"
            recipes += "<div class='card-body pt-2'><span style='background-color: #FF7766;' class='badge mb-2 mr-2'>" + data.recipes[i].Cuisine +  "</span><span style='background-color: #FF7766;' class='badge mb-2'>" + data.recipes[i].MealType +  "</span><p>" + data.recipes[i].Description.substring(0, 100) + "..</p></div>"
            recipes += "<a href='/recipe/" + data.recipes[i].RecipeID + "/'class='btn btn-block btn-primary b-0' style='transform: none;'>View Recipe</a></div></div>"
            counter += 1
            if(counter == 4){
              recipes += "</div>";
            }
          }
          $('#recipes').append(recipes);

        },
        error: function() { 
          reset_recipes(old_recipes);
        },
        // async: false 
    });
  }

  function refresh_suggested_ingredients(){
    $('#suggested_ingredients').children('button').remove();
    get_suggested_ingredients();
  }

  // Function to suggested ingredients
  function get_suggested_ingredients() {
    // AJAX call to process browse request
    $.ajax({ 
        url: "{% url 'get_suggested_ingredients' %}",
        type: "POST",
        data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            },
        dataType: 'json',
        success: function (data) {
          for(let i in data.suggested_ingredients) {
            // Add to list of ingredients
            var new_ingredient = "<button class='btn btn-sm btn-outline-danger alert rounded-pill fade show px-2 py-1 mx-1' type='button' data-dismiss='alert' onclick='add_suggested_ingredient(this)''>" + data.suggested_ingredients[i] + "  <i class='fas fa-plus'></i></button>";
            $('#suggested_ingredients').append(new_ingredient);
          }
        },
        error: function() { 
          console.log("Error getting suggested ingredients!");
        },
        async: false 
    });
  }

  // Function to add suggested ingredient
  function add_suggested_ingredient(button) {
    // Check if there are still any suggested ingredients left
    if($('#suggested_ingredients').children('button').length - 1 == 0) {
      get_suggested_ingredients();
    }
    // Check if ingredient is already in list of searches
    var present = false;
    $("#user_inputs").find("button").each(function() {
      if ($(this).text() === button.textContent) {
        present = true;
      }
    });
    if(!present) {
      // Add to list of ingredients
      var new_ingredient = "<button class='btn btn-sm btn-outline-success alert rounded-pill fade show px-2 py-1 mx-1' type='button' data-dismiss='alert' onclick='remove_ingredient(this)'>" + button.textContent + "  <i class='fas fa-times'></i></button>";
      $('#user_inputs').append(new_ingredient);
      // Trigger search event
      get_search('search');
    }
  }

  // Function to remove an ingredient from the list of search terms
  function remove_ingredient(button) {
    $("#user_inputs").find("button").each(function() {
      if ($(this).text() === button.textContent) {
        $(this).remove();
        // Trigger search event
        get_search('search');
      }
    });
  }

  // Function to add dietary restriction
  function add_restriction(button) {
    // Add to list of active dietary restrictions
    var new_restriction = "<button class='btn btn-sm btn-outline-warning alert rounded-pill fade show px-2 py-1 mx-1' type='button' data-dismiss='alert' onclick='remove_restriction(this)' value='" + $(button).attr('value') + "'>" + button.textContent + "  <i class='fas fa-times'></i></button>";
    $('#active_restrictions').append(new_restriction);
    // Trigger search event
    get_search('search');
  }

  // Function to remove dietary restriction
  function remove_restriction(button) {
    var new_restriction = "<button class='btn btn-sm btn-outline-primary alert rounded-pill fade show px-2 py-1 mx-1' type='button' data-dismiss='alert' onclick='add_restriction(this)' value='" + button.getAttribute('value') + "'>" + button.textContent + "  <i class='fas fa-plus'></i></button>";
    $('#inactive_restrictions').append(new_restriction);

    // Ensure restriction is removed from active restrictions before triggering search event
    var observer = new MutationObserver(function(mutations) {
      var restriction_present = $('#active_restrictions').has(button).length > 0;
      if (!restriction_present) {
        observer.disconnect();
        // Trigger search event only once restriction is removed
        get_search('search');
      }
    });
    var observerConfig = { childList: true, subtree: true };
    observer.observe($('#active_restrictions')[0], observerConfig);
  }

  // Function for reset button
  function reset_filters() {
    // Reset search terms only
    $("#user_inputs").find("button").each(function() {
      $(this).remove();
    });
    // Trigger search event
    get_search('search');
  }

  // Preload functions
  $(document).ready(function() {
    /* Search bar */
    $('#search_bar').on('keyup', function (event) {
        // Check if the enter key is pressed
        if (event.keyCode === 13) {
          get_search('search', this.value);
        }
    } );

    /* Pagination buttons */
    $('#btn_prev_page').on('click', function(event) {
        get_search('browse', null, parseInt($('#current_page').text()) - 1);
    } );
    $('#btn_next_page').on('click', function(event) {
      get_search('browse', null, parseInt($('#current_page').text()) + 1);
    } );
    $('#page_selection').on('click', '.dropdown-item', function(event) {
      get_search('browse', null, parseInt($(this).text()));
    } );  

  });

</script>
{% endblock javascripts %}